.productForm {
    margin: auto;
    width: 400px;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.inputWrapper {
    display: flex;
    justify-content: space-between;
}

.submitWrapper {
    margin-top: 50px;
    text-align: right;
<<<<<<< HEAD
} 
=======
}
>>>>>>> b6056eed1309d5c8e070f35fede91648f1a94827
