$main-color : #f3f2f0;
$border-color: #ddd;
$border-main: 1px solid $border-color;
$background-color: #fbfbfb;
$header-color:#fff;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	border: 0;
    vertical-align: baseline;
	font-family: "Roboto";
	font-style: inherit;
	font-size: 100%;
}


@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
      url("./fonts/Roboto-Regular.ttf") format("truetype");
  }

.btn {
    height: 50px;
    background-color: $main-color;
    border: $border-main;
    padding: 15px;
    &:hover{
        background-color: $background-color;
    }
    &:active{
        background-color:$border-color;
    }
}

.input {
    padding: 15px;
    border: $border-main;
    background-color: $main-color;
}

.input__error {
    &:placeholder-shown {
        border: 2px solid red; /* Red border only if the input is empty */
    }
}


.link {
    text-decoration: none;
    display: flex;
    &:visited {
        color: black;
    }
}

.error {

}
.bag__error {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    color: red;
}
.item__text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.h1 {
    font-size: 24px;
    font-weight: 300;
}

.items__list__container__wrapper {
    background-color: $background-color;
    min-height: calc(100vh - 60px);
}
.main__container {
    display: flex;
    justify-content: center;
    padding: 30px 100px;
    .items__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        row-gap: 30px;
    }
    .main__content {
        width: 1200px;
        .list {
            .item__list {
                display: flex;
                flex-direction: row;
                flex: 1;
                gap: 30px;
                border-bottom: $border-main;
                padding: 15px;
                .count {
                    width: 150px;
                    display: flex;
                    justify-content: end;
                }
                .name {
                    flex: 1;
                }
            }
        }
        .bag__total__wrapper {
            display: flex;
            align-items: center;
            justify-content: end;
            margin-top: 50px;
            gap: 30px;

            .btn {
                width: 110px;
            }
        }

    }
  .user__account {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .link {
        text-decoration: underline;
        color: black;
    }
    .input {
        width: 200px;
    }
    .btn {
        width: fit-content;
    }
  }
}


@media (max-width: 1250px) {
    .items__list {
        grid-template-columns: repeat(3, 1fr);
      }
}

.item__card__bag {
    display: flex;
    flex-direction: row;
    width: 1200px;
    align-items: center;
    padding: 20px 0;
    border-bottom: $border-main;
    gap: 30px;
    .item__info {
        display: flex;
        flex-direction: row;
        flex: 1;
    }
    .item__name {
        flex:1;
    }
    .item__pic {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    .h1 {
        width: 200px;
        display: flex;
        justify-content: end;
    }
    .bag__counter {
        display: flex;
        gap: 10px;
        width: 150px;
        .button__count {
            border-radius: 50%;
            width: 20px;
            height: 20px;
        }
    }
    .btn {
        justify-self: end;
        width: 110px;
    }
}

.form__container {
    min-height: calc(100vh - 60px);
    display: flex;
    background-color: $background-color;
}

.item__card {
    width: 250px;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;

    .item__pic {
        width: 230px;
        height: 230px;
        object-fit: cover;
        align-self: center;
    }
}

.header {
    background-color: $header-color;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;

    .header__content {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        margin: auto;
        height: 100%;
    }
    .logo {
        font-size: 24px;
        margin: auto 0;
    }

    .userpage__header {
        display: flex;
        gap: 20px;

        .bag__wrapper__header {
            margin: auto;
            display: flex;
            .bag-logo {
                width: 30px;
                margin: auto;
            }
            .bag-count__wrapper {
                display: flex;
                position: absolute;
                width: 30px;
                top: 20px;
                color: white;
                background-color: black;
                width: 17px;
                height: 17px;
                border-radius: 50%;
                font-size: 10px;
                justify-content: center;
                align-items: center;
            }
            .bag-count {
                margin: auto;
            }
        }

        .user-avatar {
            width: 30px;
            height: 30px;
            margin: auto;
        }
    }

}

.form__small {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto auto;
    padding: 30px;
    gap: 30px;
    justify-content: center;
    text-align: center;
    background-color: $main-color;

    .link {
        text-decoration: underline;
        color: black;
        margin: auto;
    }
    .loading-image {
        display:none;
    }
}

.notfound__block {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    .notfound__title {
        font-size: 30px;
        }
    .notfound__code {
    font-size: 60px;
        }
}
